# Environments
.venv/
.env

# App Data & Secrets
.token.json
.prefs.json
.metadata_cache/

# IDE
.vscode/
.idea/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# OS
.DS_Store
Thumbs.db
build/

src/config.py
